body {		
		background-color: #000;
		color: black;
		font-family: Arial, Helvetica, sans-serif;
		font-size:12px;
		letter-spacing: .1em;
		margin: 0;
		height: 100%;
	}
a:link, a:visited {
	text-decoration:none;
	color:inherit;
	}

footer {
	position:fixed;
	padding-left:15px;
	padding-top:9px;
	bottom:0px;
	width:100%;
	height:20px;
	background:#000;
	font-size:11px;
	letter-spacing: .05em;
	color: white;
}
.footer,
.push {
  height: 20px;
}
