			body {
	background-image: url("images/dtla.jpg");
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	color: #000;
	padding: 40px;
	font-family: Arial, Verdana, sans-serif;
	font-size:12px;
	text-align:center
}
			h1 {
				background-color: white; opacity: 0.4;
				background-color: black);
				color: #000000;
				padding: inherit;}
			p {
				padding: 15px;
				margin: 0px;
				opacity: 0.75;}
			p.one {
				color:#FFF;
				border: 5px solid #CCC;
				opacity: 0.5;}
			p.two {
				background-color: white; opacity: 0.4;
				color: #000000;
				padding: inherit;}
			p.three {
				background-color: #FFF;
				opacity: 0.8;
				width: 275px;
				border: 2px solid ##666;
				padding: 10px;
				text-align:right}
				
					ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
	position: fixed;
    overflow: hidden;
    background-color: #333;
	position: fixed;
    top: 0;
    width: 100%;
		}
	li {
    float: left;
		}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
	}
li a:hover {
	background-color: #06F;
			}