			body {
	background-image: url("images/dtla.jpg");
	background-repeat: no-repeat;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	color: #000;
	padding: 40px;
	font-family: Arial, Verdana, sans-serif;
	font-size:12px;
	text-align:center
}
			h1 {
				background-color: white; opacity: 0.4;
				background-color: black);
				color: #000000;
				padding: inherit;}
			p {
				padding: 15px;
				margin: 0px;
				opacity: 0.75;}
			p.one {
				border: 2px solid #CCC;
				opacity: 0.5;}
			p.two {
				background-color: rgb(0,0,0);}
			p.three {
				background-color: rgb(186,228,255);}
			p.four {
				background-color: rgb(167,219,252);}
			p.five {
				background-color: rgb(140,202,242);}
			p.six {
				background-color: rgb(114,193,240);}
			p.seven {
				background-color: rgb(84,182,237);}
			p.eight {
				background-color: rgb(48,170,233);}
			p.nine {
				background-color: rgb(0,160,230);}
			p.ten {
				background-color: rgb(0,149,226);}
			p.eleven {
				background-color: #FFF;
				opacity: 0.8;
				padding: 10px;
				text-align:left}
				
					ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
	position: fixed;
    top: 0;
    width: 100%;
		}
	li {
    float: left;
		}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
	}
li a:hover {
    background-color: #187;
			}