body {		
		background-color: #000;
		color: white;
		padding: 30px;
		margin: 0px;
		font-family: Arial, Helvetica, sans-serif;
		font-size:16px;
		letter-spacing: .1em;
	}
a{
	text-decoration:none;
			}
h1 {
	font-size: 175pt;
	padding: 75px;
}
#footer	{
	position:fixed;
	padding-left:20px;
	padding-top:10px;
	bottom:0px;
	width:100%;
	height:30px;
	background:#000;
	font-size:12px;
}